In [3]:
from numpy import dot
from numpy.linalg import norm
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
merged2020 = pd.read_pickle("../Data/merged.pkl")
merged2021 = pd.read_pickle("../Data/merged2.pkl")
merged2022 = pd.read_pickle("../Data/merged3.pkl")

In [9]:
merged2022

,Автотранспорт,Алкогольный магазин,"Бар ""Коктейль""",Барбершоп,Не определено,Покупка одежды,Покупка техники,Покупки Ozon,"Ресторан ""Буйвол""",Такси,Турагенство,Сумма расходов
ID Клиента,,,,,,,,,,,,
10158439,0,0,9,11,0,0,5,0,2,0,0,23544
10159782,0,0,2,1,0,0,0,0,0,0,0,6254
10162467,0,31,11,32,2,0,0,2,0,2,0,24936
10162557,0,0,0,2,0,0,0,0,0,0,0,76
10170484,0,0,0,2,0,0,0,0,0,0,0,24401
...,...,...,...,...,...,...,...,...,...,...,...,...
11265397,0,2,3,2,1,0,1,1,3,1,0,14175
11267844,0,0,0,0,2,0,0,0,0,0,0,958
11267856,0,1,0,147,1,0,0,0,0,0,0,290
11336361,6,23,12,10,10,13,13,6,15,6,5,4477
11371251,0,0,0,0,0,0,0,0,0,0,1,187670

In [ ]:
class HybridRecommender:
    def __init__(self, movies_df, ratings_df):
        self.clients_vector = None
        
    
    def cos_sim(a,b):
        similarity = dot(a, b)/(norm(a)*norm(b))
        return similarity
    
    def collaborative_filtering(self):
        similar_users = cos_sim(self.user_ratings)
        
    def content_filtering(self):
#         cv = CountVectorizer()
#         movie_matrix = cv.fit_transform(self.movies_df['genres'])
#         movie_similarities = cosine_similarity(movie_matrix)
#         self.movie_predictions = pd.DataFrame(movie_similarities.dot(self.movie_features), index=self.movies_df.index, columns=self.movie_features.columns)

    def hybrid_filtering(self):
        self.hybrid_predictions = self.user_predictions.add(self.movie_predictions, fill_value=0)

    def recommend_clients(self, user_id, num_recommendations=10):
        user_ratings = self.ratings_df[self.ratings_df['userId'] == user_id]
        user_ratings = user_ratings.set_index('movieId')
        user_predictions = self.hybrid_predictions.loc[user_id].drop(user_ratings.index)
        recommended_movies = user_predictions.sort_values(ascending=False).head(num_recommendations)
        recommended_movies = recommended_movies.to_frame().reset_index()
        recommended_movies = recommended_movies.merge(self.movies_df, on='movieId')[['movieId', 'title', 'genres']]
        return recommended_movies

# Пример использования класса
movies_df = pd.read_csv('movies.csv')
ratings_df = pd.read_csv('ratings.csv')
recommender = HybridRecommender(movies_df, ratings_df)
recommender.preprocess_data()
recommender.collaborative_filtering()
recommender.content_filtering()
recommender.hybrid_filtering()
recommended_movies = recommender.recommend_movies(user_id=1)
print(recommended_movies)

In [ ]:
УРАААААААААААААААААААААААААААААа