In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [117]:
data2020 = pd.read_excel('../Data/Векторизированные2020.xlsx').drop('Unnamed: 0',axis=1).dropna()
data2021 = pd.read_excel('../Data/Векторизированные2021.xlsx').drop('Unnamed: 0',axis=1)
data2022 = pd.read_excel('../Data/Векторизированные2022.xlsx').drop('Unnamed: 0',axis=1)

In [118]:
data2020.head()

,Торговый день,ID Клиента,Регион проживания,МАГАЗИН,"Тип карточки (B-VISA, S-MASTERCARD или МИР)",Сумма расходов,Предоставленная скидка,Возраст клиента,Вектор
0,2020-01-08,10221462.0,Московская область,"Ресторан ""Буйвол""",B,66816.0,11.0,31.0,"[[1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
1,2020-01-20,10220237.0,Красноярский край,Барбершоп,B,2538.0,9.0,33.0,"[[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,2020-01-20,10215286.0,Московская область,Такси,B,6241.0,6.0,36.0,"[[1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
3,2020-01-20,10220237.0,Красноярский край,"Бар ""Коктейль""",B,2802.0,9.0,33.0,"[[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
4,2020-01-24,11128769.0,г.Москва,Барбершоп,B,7227.0,18.0,24.0,"[[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."

In [119]:
id = list(data2020['ID Клиента'].unique())

In [120]:
data2020

,Торговый день,ID Клиента,Регион проживания,МАГАЗИН,"Тип карточки (B-VISA, S-MASTERCARD или МИР)",Сумма расходов,Предоставленная скидка,Возраст клиента,Вектор
0,2020-01-08,10221462.0,Московская область,"Ресторан ""Буйвол""",B,66816.0,11.0,31.0,"[[1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
1,2020-01-20,10220237.0,Красноярский край,Барбершоп,B,2538.0,9.0,33.0,"[[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
2,2020-01-20,10215286.0,Московская область,Такси,B,6241.0,6.0,36.0,"[[1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
3,2020-01-20,10220237.0,Красноярский край,"Бар ""Коктейль""",B,2802.0,9.0,33.0,"[[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
4,2020-01-24,11128769.0,г.Москва,Барбершоп,B,7227.0,18.0,24.0,"[[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
...,...,...,...,...,...,...,...,...,...
43236,2022-12-20,10356763.0,Ярославская область,Барбершоп,S,227750.0,0.0,42.0,"[[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
43237,2022-12-21,11259771.0,Воронежская область,Такси,S,2390662.0,20.0,22.0,"[[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,..."
43238,2022-12-21,11259771.0,Воронежская область,Не определено,S,253832.0,20.0,22.0,"[[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
43239,2022-12-21,10361502.0,г.Москва,"Бар ""Коктейль""",B,81.0,9.0,33.0,"[[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."
43240,2022-12-21,11257217.0,Красноярский край,Барбершоп,S,89085.0,0.0,40.0,"[[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1,..."

In [127]:
def visitsFun():
    visits = {}
    count = 0
    for i in id:
        visits[str(i)] = len(data2020[data2020['ID Клиента'] == i])
        count  += 1
    return visits

visits = visitsFun()

In [128]:
visits

{'10221462.0': 31,
 '10220237.0': 51,
 '10215286.0': 57,
 '11128769.0': 16,
 '10356763.0': 1064,
 '11127430.0': 548,
 '10219502.0': 552,
 '11020225.0': 21,
 '10213348.0': 311,
 '11019309.0': 6,
 '10834321.0': 92,
 '11257084.0': 245,
 '10361741.0': 262,
 '10575351.0': 11,
 '10218833.0': 11,
 '11257902.0': 108,
 '10364498.0': 51,
 '10404735.0': 149,
 '10355392.0': 204,
 '10404748.0': 71,
 '10367688.0': 2,
 '11259804.0': 76,
 '11020015.0': 33,
 '10213960.0': 70,
 '11014186.0': 39,
 '10581029.0': 27,
 '10218863.0': 16,
 '10402701.0': 223,
 '10355417.0': 367,
 '11122670.0': 101,
 '11122002.0': 7,
 '11012574.0': 40,
 '10219380.0': 65,
 '11257217.0': 601,
 '10404615.0': 80,
 '10406690.0': 2857,
 '11119835.0': 91,
 '10355641.0': 3945,
 '11253064.0': 93,
 '10398600.0': 56,
 '10357580.0': 89,
 '10212548.0': 412,
 '11000779.0': 61,
 '10577475.0': 365,
 '10355445.0': 226,
 '11258643.0': 466,
 '10220770.0': 259,
 '11020171.0': 833,
 '10562352.0': 137,
 '10568660.0': 35,
 '10836441.0': 37,
 '10562323.0': 130,
 '11128132.0': 111,
 '10217384.0': 294,
 '10213902.0': 328,
 '10371298.0': 65,
 '10220163.0': 95,
 '10402757.0': 91,
 '10836387.0': 697,
 '10580198.0': 12,
 '10218209.0': 104,
 '11121022.0': 138,
 '11019989.0': 15,
 '11257311.0': 173,
 '10837991.0': 593,
 '10574034.0': 122,
 '10572098.0': 75,
 '11126005.0': 4,
 '11135326.0': 83,
 '10569958.0': 24,
 '10219383.0': 50,
 '11259771.0': 3699,
 '11126743.0': 33,
 '11261300.0': 89,
 '10360759.0': 394,
 '11018820.0': 1056,
 '10214653.0': 43,
 '10407379.0': 112,
 '10568006.0': 34,
 '10580277.0': 725,
 '10213259.0': 105,
 '10361041.0': 47,
 '11259157.0': 230,
 '10216133.0': 168,
 '10404046.0': 38,
 '10218123.0': 27,
 '11000151.0': 74,
 '10218815.0': 185,
 '11258647.0': 96,
 '10354174.0': 303,
 '10400644.0': 28,
 '11257922.0': 304,
 '10361010.0': 21,
 '10215398.0': 425,
 '11121303.0': 11,
 '11258570.0': 37,
 '10360737.0': 90,
 '10220687.0': 98,
 '11011352.0': 67,
 '11120332.0': 26,
 '10360800.0': 226,
 '11259281.0': 21,
 '11261158.0': 590,
 '11121172.0': 65,
 '11011968.0': 112,
 '11020307.0': 17,
 '10359664.0': 684,
 '11260095.0': 545,
 '11108096.0': 106,
 '10404096.0': 7,
 '11013435.0': 316,
 '10220196.0': 10,
 '11004905.0': 556,
 '10567185.0': 386,
 '10834988.0': 169,
 '10831118.0': 527,
 '10838002.0': 63,
 '10361502.0': 428,
 '10213299.0': 16,
 '10562327.0': 36,
 '10404555.0': 185,
 '10837346.0': 130,
 '10222135.0': 10,
 '10404533.0': 11,
 '10577539.0': 2,
 '10567954.0': 569,
 '10220285.0': 47,
 '10403407.0': 111,
 '11000129.0': 28,
 '10550756.0': 47,
 '10574677.0': 153,
 '10218659.0': 30,
 '11017418.0': 32,
 '10218204.0': 145,
 '10571196.0': 11,
 '10218669.0': 37,
 '10550768.0': 6,
 '11260060.0': 8,
 '10214703.0': 11,
 '10574662.0': 88,
 '10405540.0': 55,
 '10567166.0': 287,
 '10216816.0': 1106,
 '10574755.0': 10,
 '11257683.0': 108,
 '10574664.0': 333,
 '11007017.0': 145,
 '11001412.0': 69,
 '10218584.0': 69,
 '10217366.0': 368,
 '10354725.0': 138,
 '10216806.0': 266,
 '11123928.0': 197,
 '10218864.0': 506,
 '11257209.0': 33,
 '10220154.0': 241,
 '11018939.0': 38,
 '10214586.0': 312,
 '10218150.0': 4,
 '11121721.0': 29,
 '10832364.0': 61,
 '11257083.0': 8,
 '10362381.0': 4,
 '11259088.0': 1601,
 '10403940.0': 80,
 '11123954.0': 57,
 '10356174.0': 479,
 '10212599.0': 33,
 '10567337.0': 57,
 '10399864.0': 430,
 '10578812.0': 66,
 '10216023.0': 64,
 '10574795.0': 112,
 '11259278.0': 10,
 '10583558.0': 100,
 '10579621.0': 200,
 '11011993.0': 15,
 '10572694.0': 6,
 '10363026.0': 94,
 '11008254.0': 14,
 '11099104.0': 26,
 '10565113.0': 100,
 '11015312.0': 23,
 '10580196.0': 93,
 '11001531.0': 7,
 '11008961.0': 118,
 '10578124.0': 12,
 '11013542.0': 27,
 '11253159.0': 24,
 '10573415.0': 62,
 '11099056.0': 428,
 '11124561.0': 29,
 '10359528.0': 53,
 '10405457.0': 11,
 '10397820.0': 41,
 '11261199.0': 4,
 '11120630.0': 56,
 '10571507.0': 13,
 '10568655.0': 14,
 '11000848.0': 32,
 '11014659.0': 20,
 '10572571.0': 25,
 '11006147.0': 24,
 '11006864.0': 19,
 '10405930.0': 47,
 '10578954.0': 36,
 '10218806.0': 18,
 '11259890.0': 27,
 '10219977.0': 11,
 '10363113.0': 18,
 '10367730.0': 4,
 '11018922.0': 6,
 '10218199.0': 6,
 '10583631.0': 3,
 '11125216.0': 4,
 '10404542.0': 5,
 '10214632.0': 5,
 '11255247.0': 3,
 '11011869.0': 2,
 '10563714.0': 1,
 '10577581.0': 6,
 '10215443.0': 11,
 '10357606.0': 8,
 '11257940.0': 1,
 '10576822.0': 11,
 '11260548.0': 5,
 '11004939.0': 10,
 '10833191.0': 1,
 '10578218.0': 2,
 '10569397.0': 3,
 '10565800.0': 2,
 '10581714.0': 4,
 '10404528.0': 4,
 '11124024.0': 5,
 '11011865.0': 7,
 '10218680.0': 7,
 '10218220.0': 3,
 '11012113.0': 1,
 '10828227.0': 2,
 '10217421.0': 1,
 '10359596.0': 1,
 '10403944.0': 1,
 '11259151.0': 1,
 '10837035.0': 1,
 '11018218.0': 1}

In [71]:
def discountCoef(id):
    discount = int(list(data2020[data2020['ID Клиента'] == id]['Предоставленная скидка'].values)[0])
    if discount != 0:
        coef = discount / 100
    else:
        coef = data2020['Предоставленная скидка'].median() / 100
    return coef

discountCoef(10356763.0)

In [66]:
def standart(coef):
    coef = (coef - coef.mean())/coef.std()

0

0.1

In [139]:
dataset = pd.DataFrame({'index': visits.values(),'id': visits.keys()},index=visits.keys())

In [141]:
dataset['index'] = abs((dataset['index'] - dataset['index'].mean())/dataset['index'].std())

In [142]:
dataset

               index          id
10221462.0  0.336977  10221462.0
10220237.0  0.290656  10220237.0
10215286.0  0.276759  10215286.0
11128769.0  0.371719  11128769.0
10356763.0  2.055547  10356763.0
...              ...         ...
10359596.0  0.406460  10359596.0
10403944.0  0.406460  10403944.0
11259151.0  0.406460  11259151.0
10837035.0  0.406460  10837035.0
11018218.0  0.406460  11018218.0

[245 rows x 2 columns]

In [121]:
dataMoney = abs((data2020['Сумма расходов'] - data2020['Сумма расходов'].mean())/data2020['Сумма расходов'].std())

In [122]:
dataMoney.values()

0        0.160794
1        0.239568
2        0.235030
3        0.239244
4        0.233822
           ...
43236    0.036434
43237    2.687128
43238    0.068398
43239    0.242579
43240    0.133503
Name: Сумма расходов, Length: 43241, dtype: float64

In [ ]:
coefficient = {}

for i in range(len(data2020)):
    id = data2020.loc[i]['ID Клиента']
    discoef = discountCoef(id)
    visit = dataset[dataset['id'] == id]['index']
    money = dataMoney.loc[i].value
    print(money,visit,discoef)
    
    coefficient[id] = money*visit/discoef
    
coefficient