In [2]:
from numpy import dot
from numpy.linalg import norm
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_excel('../Data/ИтоговыеДанные.xlsx')

In [4]:
# Группировка данных по клиентам и подсчет общего количества посещений и общего расхода
client_data = data.groupby('ID Клиента').agg({'МАГАЗИН': 'count', 'Сумма расходов': 'sum'})

# Создание вектора для каждого клиента
vectors = []
for client_id, row in client_data.iterrows():
    visits = row['МАГАЗИН']
    spending = row['Сумма расходов']
    vector = [visits, spending]
    vectors.append(vector)

# Преобразование векторов в DataFrame
cluster_vector = pd.DataFrame(vectors, columns=['Посещения МАГАЗИНА', 'Общий расход'], index=client_data.index)

In [5]:
cluster_vector

            Посещения МАГАЗИНА  Общий расход
ID Клиента
10157447                   107        632039
10157454                     1           163
10158439                    27        635690
10158854                   528      15423642
10159585                    67        222196
...                        ...           ...
11328050                   186       8064333
11328121                    13       1653598
11335636                     1        884311
11336361                   119        532725
11371251                     1        187670

[743 rows x 2 columns]

In [9]:
# Расчет Q1, Q2, Q3 для столбца "Посещения МАГАЗИНА"
mean_visits = cluster_vector['Посещения МАГАЗИНА'].mean()
q1_visits = cluster_vector['Посещения МАГАЗИНА'].quantile(0.25)
q2_visits = cluster_vector['Посещения МАГАЗИНА'].quantile(0.5)
q3_visits = cluster_vector['Посещения МАГАЗИНА'].quantile(0.75)

# Расчет Q1, Q2, Q3 для столбца "Общий расход"
mean_spending = cluster_vector['Общий расход'].mean()
q1_spending = cluster_vector['Общий расход'].quantile(0.25)
q2_spending = cluster_vector['Общий расход'].quantile(0.5)
q3_spending = cluster_vector['Общий расход'].quantile(0.75)

# Вывод результатов
print(f"mean: {mean_visits}")
print(f"Значения Q1, Q2, Q3 для столбца 'Посещения МАГАЗИНА':")
print(f"Q1: {q1_visits}")
print(f"Q2: {q2_visits}")
print(f"Q3: {q3_visits}")
print()
print(f"mean: {mean_spending}")
print(f"Значения Q1, Q2, Q3 для столбца 'Общий расход':")
print(f"Q1: {q1_spending}")
print(f"Q2: {q2_spending}")
print(f"Q3: {q3_spending}")

mean: 91.23822341857336
Значения Q1, Q2, Q3 для столбца 'Посещения МАГАЗИНА':
Q1: 3.0
Q2: 15.0
Q3: 67.0

mean: 13973332.67294751
Значения Q1, Q2, Q3 для столбца 'Общий расход':
Q1: 14901.5
Q2: 191154.0
Q3: 1639363.0

In [23]:
# Определение группы на основе суммы расходов и посещений МАГАЗИНОВ
def get_group(row):
    if row['Общий расход'] <= q2_spending and row['Посещения МАГАЗИНА'] <= mean_visits:
        return 'Низкий расход, низкие посещения'
    elif row['Общий расход'] <= q2_spending and row['Посещения МАГАЗИНА'] > mean_visits:
        return 'Низкий расход, высокие посещения'
    elif row['Общий расход'] > q2_spending and row['Посещения МАГАЗИНА'] <= mean_visits:
        return 'Высокий расход, низкие посещения'
    else:
        return 'Высокий расход, высокие посещения'

# Добавление столбца с группой в DataFrame
cluster_vector['Группа'] = cluster_vector.apply(get_group, axis=1)

In [24]:
cluster_vector

,Посещения МАГАЗИНА,Общий расход,Группа
ID Клиента,,,
10157447,107,632039,"Высокий расход, высокие посещения"
10157454,1,163,"Низкий расход, низкие посещения"
10158439,27,635690,"Высокий расход, низкие посещения"
10158854,528,15423642,"Высокий расход, высокие посещения"
10159585,67,222196,"Высокий расход, низкие посещения"
...,...,...,...
11328050,186,8064333,"Высокий расход, высокие посещения"
11328121,13,1653598,"Высокий расход, низкие посещения"
11335636,1,884311,"Высокий расход, низкие посещения"
11336361,119,532725,"Высокий расход, высокие посещения"
11371251,1,187670,"Низкий расход, низкие посещения"

In [25]:
# Создание словаря для хранения списков клиентов по группам
grouped_clients = {}

# Итерация по каждой группе и добавление клиентов в соответствующий список
for group in cluster_vector['Группа'].unique():
    clients = cluster_vector[cluster_vector['Группа'] == group].index.tolist()
    grouped_clients[group] = clients

# Вывод списка клиентов для каждой группы
for group, clients in grouped_clients.items():
    print(f"Группа: {group}")
    print(f"ID клиентов: {clients}")
    print()

Группа: Высокий расход, высокие посещения
ID клиентов: [10157447, 10158854, 10161672, 10205250, 10210111, 10212548, 10213259, 10213348, 10213902, 10214586, 10215398, 10215689, 10216133, 10216655, 10216806, 10216816, 10217384, 10218204, 10218209, 10218604, 10218864, 10219502, 10220154, 10220163, 10220687, 10220770, 10354174, 10354725, 10355392, 10355417, 10355445, 10355641, 10356174, 10356763, 10358256, 10359664, 10360759, 10360800, 10361502, 10361741, 10363026, 10371447, 10371835, 10372259, 10372464, 10402701, 10404555, 10404735, 10406690, 10407379, 10409000, 10489533, 10495894, 10544114, 10545378, 10562323, 10562352, 10562428, 10565113, 10567166, 10567954, 10574034, 10574664, 10574677, 10574795, 10577475, 10578913, 10579558, 10579621, 10580196, 10580277, 10580935, 10583558, 10583563, 10687823, 10689235, 10718802, 10806009, 10830303, 10831118, 10834321, 10834988, 10836387, 10837346, 10837991, 10867515, 10887712, 10989669, 10996693, 11000774, 11002153, 11004905, 11007017, 11008961, 11011968, 11018820, 11020171, 11030814, 11099056, 11108096, 11121022, 11122670, 11123928, 11123956, 11125281, 11125310, 11125776, 11125827, 11127430, 11128132, 11128601, 11129427, 11227782, 11252407, 11253064, 11255812, 11257084, 11257217, 11257311, 11257683, 11257902, 11258643, 11258647, 11259088, 11259157, 11259771, 11259870, 11259946, 11260095, 11261158, 11261208, 11261302, 11318463, 11326006, 11326637, 11328050, 11336361]

Группа: Низкий расход, низкие посещения
ID клиентов: [10157454, 10159782, 10162557, 10163137, 10164361, 10165215, 10165591, 10170484, 10200569, 10201897, 10201913, 10202303, 10202399, 10202458, 10202578, 10203391, 10203645, 10204612, 10205313, 10205316, 10205775, 10205923, 10206023, 10206172, 10206653, 10208060, 10208615, 10208689, 10208933, 10209389, 10209505, 10209509, 10210101, 10210169, 10211319, 10212599, 10212784, 10212862, 10213074, 10213299, 10214320, 10214694, 10214940, 10215129, 10215552, 10215648, 10216023, 10216104, 10216492, 10216523, 10217421, 10218061, 10218123, 10218150, 10218220, 10218659, 10219648, 10219977, 10220196, 10220237, 10220729, 10221878, 10222135, 10222188, 10222960, 10230492, 10230515, 10323461, 10326212, 10326927, 10330220, 10355567, 10356340, 10357606, 10358863, 10359596, 10360247, 10360737, 10361010, 10361721, 10362381, 10363816, 10364846, 10364847, 10366246, 10366778, 10366880, 10367395, 10367688, 10367730, 10367784, 10368172, 10368971, 10369438, 10369442, 10369452, 10369485, 10369618, 10370787, 10370893, 10372922, 10373143, 10373772, 10374583, 10374965, 10404046, 10404528, 10404533, 10405457, 10405930, 10408933, 10409693, 10410325, 10410392, 10410414, 10411071, 10411735, 10411772, 10412435, 10412453, 10415737, 10415808, 10416419, 10417029, 10419251, 10476067, 10476711, 10477465, 10482714, 10482782, 10488130, 10489668, 10490229, 10490964, 10491014, 10491448, 10492366, 10496498, 10497175, 10531578, 10533061, 10536953, 10543982, 10545504, 10545615, 10546991, 10547627, 10547649, 10547652, 10550768, 10551079, 10551095, 10563714, 10565800, 10568655, 10569305, 10569358, 10571196, 10571507, 10573415, 10574687, 10574755, 10575334, 10575351, 10576822, 10577435, 10577446, 10577539, 10577581, 10578124, 10578150, 10578196, 10578812, 10580224, 10580958, 10581042, 10581051, 10581714, 10581734, 10582365, 10582378, 10582953, 10583631, 10583637, 10677869, 10680036, 10684443, 10685778, 10686427, 10687123, 10687226, 10687830, 10691112, 10691203, 10691234, 10691867, 10691879, 10694005, 10694624, 10716930, 10719678, 10719833, 10721945, 10722209, 10723606, 10723663, 10725314, 10727228, 10804781, 10808266, 10810273, 10811607, 10811665, 10812315, 10813743, 10820295, 10832364, 10833191, 10833641, 10836441, 10837035, 10838002, 10866858, 10875849, 10877970, 10879962, 10880107, 10881512, 10882113, 10882558, 10883744, 10884456, 10885715, 10887031, 10887435, 10888313, 10889561, 10891675, 10891689, 10891993, 10973509, 10989608, 10990365, 10991026, 10993767, 10995202, 10995997, 10996565, 10997300, 11000129, 11000151, 11001412, 11001531, 11001565, 11004296, 11005566, 11005570, 11007044, 11007482, 11011865, 11011869, 11011993, 11012113, 11012574, 11014659, 11018922, 11022724, 11023303, 11028674, 11028796, 11029536, 11030114, 11031562, 11075693, 11081049, 11081128, 11084413, 11085216, 11099026, 11120513, 11120601, 11120625, 11120906, 11121303, 11121721, 11122711, 11123219, 11123257, 11123817, 11123954, 11123963, 11123965, 11123982, 11124024, 11124434, 11124496, 11125212, 11125278, 11125807, 11125812, 11126005, 11126503, 11126743, 11128510, 11128769, 11135326, 11135412, 11219890, 11221125, 11222398, 11224003, 11225794, 11225860, 11226666, 11228542, 11252980, 11253021, 11253236, 11254536, 11255146, 11255233, 11255247, 11256299, 11256320, 11257083, 11257940, 11258427, 11258570, 11259151, 11259840, 11259890, 11260548, 11260583, 11260805, 11261199, 11261207, 11261468, 11264785, 11267844, 11319731, 11319825, 11320450, 11322603, 11323270, 11323311, 11324705, 11326555, 11327946, 11371251]

Группа: Высокий расход, низкие посещения
ID клиентов: [10158439, 10159585, 10160294, 10162467, 10164203, 10165651, 10165770, 10165892, 10200620, 10201259, 10201728, 10201961, 10203240, 10204547, 10205269, 10206643, 10207308, 10208837, 10212198, 10213104, 10213129, 10213180, 10213960, 10214260, 10214632, 10214653, 10214703, 10215106, 10215286, 10215443, 10218199, 10218405, 10218584, 10218669, 10218680, 10218806, 10218833, 10218863, 10219380, 10219383, 10220285, 10220814, 10221462, 10221966, 10222387, 10331702, 10355386, 10357580, 10358919, 10359528, 10361041, 10363113, 10364477, 10364498, 10364819, 10366676, 10366724, 10368083, 10369478, 10371298, 10372479, 10372541, 10373741, 10374373, 10397820, 10398600, 10400644, 10402757, 10403940, 10403944, 10404096, 10404542, 10404615, 10404748, 10405540, 10410347, 10410386, 10415646, 10415750, 10417841, 10482723, 10482879, 10490792, 10493684, 10495133, 10495215, 10495739, 10496490, 10496514, 10497005, 10532250, 10539184, 10540698, 10542734, 10543376, 10544129, 10546664, 10546855, 10548200, 10548220, 10550231, 10550321, 10550756, 10550942, 10562327, 10563122, 10565212, 10567337, 10568006, 10568595, 10568660, 10569397, 10569958, 10572047, 10572098, 10572571, 10572694, 10573957, 10574662, 10574746, 10575488, 10576067, 10578218, 10578927, 10578954, 10580198, 10581029, 10582392, 10676627, 10682797, 10688618, 10693878, 10721665, 10723660, 10724365, 10813007, 10813689, 10815135, 10820950, 10823125, 10828227, 10831083, 10831129, 10833656, 10835122, 10864791, 10868845, 10868941, 10871077, 10882460, 10884899, 10884947, 10885615, 10885823, 10888539, 10888636, 10891287, 10891708, 10990981, 10993789, 11000779, 11000848, 11002864, 11004264, 11004939, 11006147, 11006864, 11006993, 11008254, 11008885, 11011352, 11013542, 11014186, 11015312, 11017418, 11018218, 11018939, 11019309, 11019989, 11020015, 11020225, 11020307, 11021955, 11030118, 11081782, 11083894, 11085147, 11099104, 11119835, 11120332, 11120630, 11120671, 11121170, 11121172, 11122002, 11122604, 11123377, 11123448, 11123867, 11124072, 11124074, 11124558, 11124561, 11125216, 11127421, 11128072, 11129478, 11135366, 11219000, 11220555, 11223210, 11225333, 11226389, 11253159, 11255647, 11255651, 11257209, 11257701, 11259156, 11259278, 11259281, 11259804, 11260060, 11260580, 11261300, 11263955, 11265397, 11269896, 11324745, 11325313, 11326023, 11328034, 11328121, 11335636]

Группа: Низкий расход, высокие посещения
ID клиентов: [10165614, 10206849, 10206856, 10217366, 10218815, 10399864, 10403407, 10492848, 10531614, 10544747, 10567185, 10687883, 10724982, 10830312, 11006952, 11013435, 11028132, 11126582, 11257922, 11261921, 11267856, 11317781, 11321238]